.background {
		background-color: black;
}


.logo {
	position: relative;
	top: 10%;
	left: 40%;
	width: 10%;
	background-color: white;
	/*transform: translate(-50%, 50%)*/
}

.shape {
	width: 30%;
	height: 10%;
	background-color: white;
}

.main_title {
	position: relative;
	top: 30%;
	left: 50%;
	color: white;
	
}
